* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #E6F2FF;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 1rem;
	font-family: sans-serif;
}
.container {
	background-color: #F2F8FF;
	border-radius: 1rem;
	box-shadow: 0px 10px 30px #F9FCFF;
	width: 100%;
	max-width: 600px;
	overflow: hidden;
	position: relative;
}
.screen {
	display: none;
	padding: 2rem;
	text-align: center;
}
.start.screen {
	display: block;
}
#startScreen h1 {
	color: #3B9AFD;
	font-size: 2.5em;
}
.quiz.screen {
	margin-bottom: 2rem
}
#question {
	color: #333;
	font-size: 1.5rem;
	margin-bottom: 1rem;
	line-height: 1.4;
}
.quiz.info {
	display: flex;
}
.answers {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 25px;
}
.answer.btn {
	background-color: #E6F2FF;
	color: #333;
	border: 2px solid #E6F2FF;
	border-radius: 10px;
	padding: 1rem;
	cursor: pointer;
	text-align: left;
	transition: all 0.3s ease;
}
.answer.btn:hover {
	background-color: #8DC4FE;
	border-color: #429DFD;
}
.answer.btn.correct {
	background-color: #ECFFDC;
	border-color: #DFFF00;
	color: #7CFC00;
}
.answer.btn.incorrect {
	background-color: #FFE6E6;
	border-color: #FFB8B8;
	color: #FF2E2E;
}
progress {
	height: 10px;
	background-color: #EFF7FF;
	border-radius: 5px;
	overflow: hidden;
	margin-top: 20px;
}
.progress.bar {
	height: 100%;
	background-color: #3B9AFD;
	width: 0%;
	transition: width 0.3s ease;
}
.result.screen h1 {
	color: #3B9AFD;
	margin-bottom: 30px;
}
.the.results {
	background-color: #E6F2FF;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 30px;
}
